nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  
  color: #FFFFFF;
  z-index: 2;
  background-color: green;
  /* background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png"); */
} 

.tweeter {
  font-family: 'Bungee', cursive;
}

.write {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.write i {
  color:red;
  margin-top: -1em;
}


